#United-States {
	left: -425px;
	top: 130px;
}

#India {
	left: 220px;
	top: 210px;
}

#Brazil {
	left: -250px;
	top: 300px;
}

#Indonesia {
	left: 345px;
	top: 290px;
}

#Mexico {
	left: -430px;
	top: 180px;
}

#United-Kingdom {
	left: -65px;
	top: 80px;
}

#Turkey {
	left: 55px;
	top: 135px;
}

#Philippines {
	left: 380px;
	top: 235px;
}

#France {
	left: -55px;
	top: 100px;
}

#Germany {
	left: -30px;
	top: 90px;
}

#Italy {
	left: -10px;
	top: 125px;
}

#Argentina {
	left: -285px;
	top: 380px;
}

#Canada {
	left: -450px;
	top: 85px;
}

#Thailand {
	left: 305px;
	top: 215px;
}

#Spain {
	left: -75px;
	top: 130px;
}

#Colombia {
	left: -325px;
	top: 255px;
}

#Japan {
	left: 440px;
	top: 135px;
}

#Malaysia {
	left: 350px;
	top: 260px;
}

#Taiwan {
	left: 375px;
	top: 190px;
}

#Egypt {
	left: 50px;
	top: 170px;
}

#Australia {
	left: 420px;
	top: 355px;
}

#Vietnam {
	left: 330px;
	top: 225px;
}

#South-Korea {
	left: 395px;
	top: 145px;
}